<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./eventual/tests/unit/icatalyst/Bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false">
        <testsuites>
            <testsuite name="eventual Test Suite">
                <directory>./eventual/tests/unit/icatalyst</directory>
            </testsuite>
        </testsuites>
</phpunit>